body {
    font-family: "Montserrat", sans-serif;
    margin: 0;
}

/*header*/
.header {
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 25px;
    height: 76px;
}

.logo {
    height: 34px;
    width: 48px;
}

.header__img-logo {
    height: 34px;
    width: 48px;
}

/*Скрываем меню*/
.header__menu {
    display: none;
    flex-grow: 1;
    justify-content: center;
}

/*Маркеры списка убираем*/
.header__menu ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

/*Отступы мужду элементами меню*/
.header__menu__item {
    margin: 0 30px;
}

/*Убираем подчеркивание и задаем цвет текста для ссылок в меню*/
.header__menu__item a {
    text-decoration: none;
    color: #333;
}

button {
    display: none;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

/*базовые стили для бургер-меню, делая его видимым и убирая фон и границы*/
.header__burger {
    display: block;
    background: none;
    border: none;
    cursor: pointer;
}

/*IPhone SE-1*/
@media (min-width: 320px) and (max-width: 413px) {
    .header__layout {
        padding: 0 16px;
    }
}


/*IPhone11 Pro Max*/
@media (min-width: 414px) and (max-width: 767px) {
    .header__layout {
        padding: 0 24px;
    }
    .header__burger {
        /*Делает бургер-меню видимым и задает его размеры.*/
        display: block;
        width: 40px;
        height: 40px;
    }
}

/*IPad mini-2*/
@media (min-width: 768px) and (max-width: 1023px) {
    .header__layout {
        padding: 0 20px;
    }
    .header__img-logo {
        height: 36px;
        width: 51px;
    }
    .header__burger {
        display: block;
        width: 40px;
        height: 40px;
    }
}

/*IPad Pro 12.9'*/
@media (min-width: 1024px) and (max-width: 1439px) {
    .header__layout {
        padding: 0 32px;
    }
    .header__img-logo {
        height: 36px;
        width: 51px;
    }
    .header__menu {
        display: flex;
    }
    .button {
        display: inline-block;
    }
    .header__burger {
        display: none;
    }
}

/*Для экрана 1440 и выше*/
@media (min-width: 1440px) {
    .header__layout {
        padding: 0 32px;
    }
    .header__img-logo {
        height: 36px;
        width: 51px;
    }
    .header__menu {
        display: flex;
    }
    .button {
        display: inline-block;
    }
    .header__burger {
        display: none;
    }
}


/*базовые стили для бургер-меню, делая его видимым и убирая фон и границы*/


