body {
    font-family: "Montserrat", sans-serif;
}

/*header*/

.header__layout {
    display: flex;
    justify-content: space-between;
}

.header > div {
    height: 56px;
    align-items: center;
} 

/*iPhone SE*/
@media screen and (min-width: 375px) {
    
}

/*iPhone 11*/
@media screen and (min-width: 414px) {
    .header>div {
        height: 72px;
    }
    
}

/*iPad min*/

.header__menu {
    display: none;
    margin-left: 32px;
    flex: 1;
}

.header__menu > ul {
    display: flex;
    margin: 0;
    padding: 0;
}

@media screen and (min-width: 1024px) {
    .header__menu {
        display: block;
    }
}

/*Кнопка не видна до 1024*/
.header__button {
    display: none;
}

@media screen and (min-width: 1024px) {
    .header__button {
        display: block;
    }
}

.header__logo {
    width:48px;
}

@media screen and (min-width: 768px) {
    .header__logo {
        width: 51px;
    }
}